/*	   typography   	*/

$body-font: 'helveticaneuecyrlight', arial, helvetica, sans-serif;
$helvetica-roman: 'helveticaneuecyrroman', arial, helvetica, sans-serif;
$helvetica-italic: 'helveticaneuecyritalic', arial, helvetica, sans-serif;
$helvetica-medium: 'helveticaneuecyrmedium', arial, helvetica, sans-serif;
$helvetica-bold: 'helveticaneuecyrbold', arial, helvetica, sans-serif;

$fs-body: 14px;
$lh-body: 26px;
$fs-main-title: 32px;
$lh-main-title: 36px;
$fs-content-title: 18px;
$lh-content-title: 20px;

/*	   end  typography   	*/


/*	   color   	*/

$body-color: #393939;
$link-color: #0659b3;
$rate-color: #ed5354;
$white-color: #fff;
$white-color02: #fbfbfb;
$main-title-color: #0056b8;
$level-color: #0056b8;
$point-color: #073b63;

$toogle-color: #fff;
$menu-color: #0659b3;

/*	   end  color   	*/


/*	   background   	*/

$body-bg: #eceef8;
$white-bg: #fff;
$white-bg02: #fbfbfb;
$name-bg: #4582c6;
$footer-bg: #0073b1;
$footer-down-bg: #1f9bde;
$level-bg: #d7e9ff;
$btn-bg: #ed592b;

$overlay-bg: rgba(0,0,0,0.6);
$toogle-bg: #4582c6;
$menu-bg: #1f9bde;

/*	   end  background   	*/